body {
  padding-top: 65px;
}
.form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title {
  margin: 20px;
}
.form-group {
  min-width: 500px;
}
@media only screen and (max-width: 736px) {
  .form-group {
    min-width: 90vw;
  }
}
.loading-indicator {
  max-height: 50px;
  max-width: 50px;
}
.color1{
    background-color: #2F6775;
    color: white;
}
.color2{
    background-color: #B6D9E2;
    color:black;
}
.color3{
    background-color: #791313;
    color:white;
}


.custom-nav-text{
    color: white;
    font-size: 1.2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.custom-title{
    font-family: 'Bodoni Moda', serif;
    font-size: 4.0em;

}
.custom-card-back{
  height: 210px;
  background-color: #791313;
  border: 5px black solid;
  margin: 10px;
}

.custom-card-disabled{
  height: 210px;
  background-color: rgb(226, 209, 207);
  border: 5px black solid;
  margin: 10px;
}

td{
    text-align: center;
}

.custom-btn{
    background-color: #024510;
    color:white;
    border: none;
}
.custom-btn:hover {
    background-color: #11262C;
}
p:hover, a:hover {
    background-color: whitesmoke;
    color:#11262C;
    }

